<div style="display: flex;
justify-content: center;
align-content: center;padding: 20px">
  <form action="/countries/{{country._id}}/questions" method="post">
    <legend>New Question</legend>

    <div class="form-group">
      <label for="post-subject">Question</label>
      <input type="text" name="question" class="form-control" id="question-title">
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
